{
  "extends": [
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "color-hex-case": "lower",
    "string-quotes": "single",
    "linebreaks": "unix",
    "max-empty-lines": 1,
    "max-line-length": 120,
    "no-eol-whitespace": true,
    "no-missing-end-of-source-newline": true,
    "no-empty-first-line": true,
    "no-empty-source": null,
    "value-no-vendor-prefix": true,
    "selector-class-pattern": [
      "^[a-z]([a-zA-Z0-9-]+)?(__([a-zA-Z0-9]+-?)+)?(--([a-zA-Z0-9]+-?)+){0,2}$",
      {
        "resolveNestedSelectors": true
      }
    ],
    "selector-id-pattern": "^[a-z]([a-zA-Z0-9-]+)?(__([a-zA-Z0-9]+-?)+)?(--([a-zA-Z0-9]+-?)+){0,2}$",
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/mat(-[a-z])+/",
          "/app(-[a-z])+/"
        ]
      }
    ]
  }
}
