{% extends 'email/base.html.twig' %}

{% block body %}
  <p>{% trans with {'%name%': user.firstName ~ ' ' ~ user.lastName} %}InitPassword.Mail.Content.Hello{% endtrans %},</p>

  <p>{% trans %}InitPassword.Mail.Content.ClickLinkToChangePassword{% endtrans%}</p>
  <p>
    <a href="{{ setPasswordUrl }}">{% trans %}InitPassword.Mail.Content.UpdateNow{% endtrans%}</a>.
  </p>

  <p>{% trans %}InitPassword.Mail.Content.AccountStillSecure{% endtrans%}</p>

  <p>{% trans %}InitPassword.Mail.Content.UpdatePasswordIfCompromised{% endtrans%}</p>

  <p>{% trans %}InitPassword.Mail.Content.RawLink{% endtrans%} : <span>{{ setPasswordUrl }}</span>.</p>

  <p>{% trans %}InitPassword.Mail.Content.Regards{% endtrans%},</p>
{% endblock %}
