  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card appearance="outlined" class="mat-card-login">
      <img src="/assets/img/logo.png" width="120" alt="" />
      <mat-card-header>
        <mat-card-title>{{ 'InitPassword.Title' | transloco }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-row">
          <div class="form-row-item-full mb-4">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'InitPassword.Password' | transloco }}</mat-label>
              <input matInput formControlName="password" type="password" autocomplete="new-password">
              <mat-error *ngIf="form.get('password')?.errors?.tooWeak">{{ 'InitPassword.NewPasswordTooWeak' | transloco }}</mat-error>
              <mat-error *ngIf="form.get('password')?.errors?.minlength">{{ 'InitPassword.NewPasswordTooShort' | transloco }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-row-item-full">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'InitPassword.PasswordConfirmation' | transloco }}</mat-label>
              <input matInput formControlName="passwordConfirmation" type="password" autocomplete="new-password">
            </mat-form-field>
          </div>
        </div>
        <mat-error id="notSame" *ngIf="!form.get('passwordConfirmation')?.pristine && form.errors?.notSame">{{ 'InitPassword.NotSame' | transloco }}</mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button
          [disabled]="form.invalid || isLoading"
          [class.spinner]="isLoading"
          mat-flat-button
          color="primary"
        >{{ 'InitPassword.Init' | transloco }}</button>
      </mat-card-actions>
    </mat-card>
  </form>
