<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card appearance="outlined" class="mat-card-login">
    <img src="/assets/img/logo.png" width="120" alt="" />
    <mat-card-header>
      <mat-card-title>
        {{'Login.Title'| transloco}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-center">{{ 'RequestPasswordInit.Title' | transloco }}</p>
      <div class="form-row">
        <div class="form-row-item-full">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'RequestPasswordInit.Email' | transloco }}</mat-label>
            <input matInput formControlName="email" autocomplete="username">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="login-actions">
      <button
      [disabled]="form.invalid || isLoading"
      [class.spinner]="isLoading"
      mat-flat-button
      color="primary"
      >{{ 'RequestPasswordInit.Send' | transloco }}</button>
      <a
        [routerLink]="['/login']"
        mat-button
        color="primary"
      >{{ 'Action.Back' | transloco }}</a>
    </mat-card-actions>
  </mat-card>
</form>
