/***
  All Variables
***/

$fz-global: 14px;

$border-radius: 4px;
$box-shadow: 0 0 1rem rgba(0, 0, 0, 0.12);
$box-shadow-table: 0 0 5px 0 rgba(0, 0, 0, 0.12);

$h-toolbar: 6.4rem;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1400px;

:root {

  //Material override
  --mdc-typography-caption-line-height: 14px;

  //Project variables
  --color-primary: #3f51b5;
  --color-primary-rgba: 63, 81, 181;
  --color-secondary: #b8bcc1;
  --color-secondary-rgba: 184, 188, 193;
  --color-accent: #FF9411;

  //States colors
  --color-success: rgb(76, 175, 80);
  --color-danger: rgb(244, 67, 54);
  --color-warning: rgb(255, 193, 7);
  --color-info:  var(--color-primary);

  // More colors
  --bg-color: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #dddddd;
  --color-grey-rgba: 221, 221, 221;
  --color-lightgrey: #f6f6f6;

}